<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam beatae soluta magni nulla. Repellat, eum ipsam! Labore omnis ipsam, et vero repellat accusantium sit optio fuga deleniti suscipit enim quod?</p>
    <a href="https://www.google.com.co/" class="btn btn-primary btn-lg">GermanWeb</a>
</div>