{{#if success_msg}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{success_msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> 
    </div>
{{/if}}

{{#if delete_msg}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{delete_msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> 
    </div>
{{/if}}

{{#if update_msg}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{update_msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> 
    </div>
{{/if}}